.container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.box {
  z-index: 2;
  text-align: center;
  padding: 8rem 4rem;
  max-width: 500px;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.405);
  border-radius: 29px;
  box-shadow: 35px 35px 68px 0px rgba(223, 223, 223, 0.425),
    inset -5px -5px 16px 0px rgba(122, 122, 122, 0.6),
    inset 0px 11px 28px 0px rgb(255, 255, 255);
}
