.container {
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #273069;
  background-image: url(../../assets/flexi_fondoTRUNCADO.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.cardsContainer {
  align-self: center;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cards:nth-child(1) {
  transform: rotate(-20deg);
}
.cards:nth-child(2) {
  transform: rotate(10deg);
  margin-bottom: 400px;
}
.cards:nth-child(3) {
  transform: rotate(20deg);
  margin-bottom: -200px;
}

.cards {
  border: solid 3px;
  border-radius: 2rem;
  font-weight: bold;
  padding: 1rem;
  height: 400px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
